*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    font-family:"Montserrat";
}

.container{
    width: 100%;
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}