.hero{
    padding-bottom: 90px;
}

.hero-top-box{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
}
.hero-top-child-box{
    width: 268px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    background: var(--white, #FFF);
    padding: 22px 16px;
}

.hero-top-info-box{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.hero-title{
    color: var(--akana-green, #156963);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.hero-text{
    color: var(--kq-black, #2C1500);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
}

.hero-center-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.hero-bottom-box{
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-buttom-title{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 8px;
}

.hero-buttom-text{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}